<div class="banner" style="background-image: linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.3)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <p>Best classical cocktail</p>
    <%= link_to "Back to list", cocktails_path(@cocktail), class:"btn btn-ghost" %>
  </div>
</div>

<div class="container">

<div class="d-flex justify-content-between my-3">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ingredients</h5>
    <% @cocktail.doses.each do |dose|%>
    <p class="card-text">
      <ul>
        <li><%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to cocktail_dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
        </li>
      </ul>
    </p>
    <% end %>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class:"card-link" %>
    <%= link_to "Back to list", cocktails_path, class:"card-link" %>
  </div>
</div>

<div class="card" id="recipe" style="width: 48rem;">
  <div class="card-body">
    <h5 class="card-title">Recipe</h5>
    <p class="card-text">Step 1
    </p>

  </div>
</div>

</div>
</div>
